click >7.0
sqlalchemy >= 1.3
alembic
git+https://github.com/lsst/daf_butler@main#egg=daf_butler
git+https://github.com/lsst/utils@main#egg=lsst_utils
git+https://github.com/lsst/resources@main#egg=lsst_resources
